<% provide(:title, "Create Room") %>

<%= render 'common/header', header_title: "Create your room", with_searchbar: false %>
<div id="room-creator" class="container">
    <div id="room-creator">
      <%= form_with scope: :room, url: rooms_path, local: true do |form| %>
          <p>
              <%= form.label 'Room name' %><br>
                  <%= form.text_field :name, placeholder: "Room name here" %>
          </p>
          <p>

              <%= form.label 'Max number' %><br>
              <%= form.number_field :max_counter, min:0,  placeholder: "Counter max value here"   %>
          </p>
          <p class="accepts-negatives">
              <%= form.label 'Accepts negative numbers' %><br>
              <%= form.check_box :accepts_negative  %>
          </p>
          <p class="create-button">
              <%= form.submit %>
          </p>
          <% end %>
      </div>
<%= render 'common/footer' %>
</div>


</div>