<%= form_with scope: :room, url: rooms_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :max_counter %><br>
    <%= form.number_field :max_counter, min:0  %>
  </p>


    <p>
    <%= form.label 'Accepts negative numbers' %><br>
    <%= form.check_box :accepts_negative  %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>