<% provide(:title, "Create Room") %>

<%= render 'common/header', header_title: "Create your room", with_searchbar: false, with_max: false %>
<div id="room-creator" class="container">
      <%= form_with scope: :room, url: rooms_path, local: true do |form| %>
            <%= render 'shared/error_messages' %>

          <p>
              <%= form.label 'Room name' %><br>
            <%= form.text_field :name, placeholder: "Room name here" %>
          </p>
          <p>
              <%= form.label 'Max number' %><br>
              <%= form.number_field :max_counter, min:0,  placeholder: "Counter max value here"   %>
          </p>
          <p class="accepts-negatives">
              <%= form.label 'Accepts negative numbers' %><br>
              <%= form.check_box :accepts_negative  %>
          </p>
          <p class="create-button">
              <%= form.submit %>
          </p>
          <% end %>
</div>
<%= render 'common/footer',  back_to: true, add_room: false, show_users: false %>

