<div class="room_container container" data-room-id="<%= @room.id %>">
   <header>
        <h2> <%= @room.name %></h2>
  </header>


  <div class="counter">
    <span id="counter_value" > <%= render partial: "counter", locals: {room: @room}  %> </span>

    <div class="buttons">
      <%= button_to '', sum_button_path, method: :get,  :remote=>true, form_class: "plus-button"%>
      <%= button_to '', sub_button_path, method: :get, :remote=>true, form_class: "minus-button"%>
    </div>
  </div>

    <footer class="footer-menu">
        <ul class="menu">

            <li class="home"><%= link_to 'Home', rooms_path %></li>
        </ul>
    </footer>
</div>