<% provide(:title, @room.name) %>

<%= render 'common/header', header_title: @room.name, with_searchbar: false, with_max: true %>


<div class="room_container container" data-room-id="<%= @room.id %>">
  <div class="counter">
    <span id="counter_value" > <%= render partial: "counter", locals: {room: @room}  %> </span>
    <div class="buttons">
      <%= button_to '', sub_button_path, method: :get, :remote=>true, form_class: "minus-button"%>
      <%= button_to '', sum_button_path, method: :get,  :remote=>true, form_class: "plus-button"%>
    </div>
  </div>
</div>
<%= render 'common/footer', back_to: true, add_room: false %>