<header>
    <div class="with-searchbox">
        <h2>About us</h2>
    </div>
</header>

<div id="about-wrapper" class="container">

    <div class="antonio creator">
        <div class="face">
            <%= image_tag("tuno.png", :alt => "Antonio's memoji") %>
        </div>
        <aside class="content">
            <h2>Antonio Djigo</h2>
            <p>Web developer, loves beer, party and travelling</p>
            <ul class="social-links">
                <li class="instagram">
                    <a href="#">
                        <%= image_tag("instagram-xs.png", :alt => "Instagram icon") %> @djigo.io
                    </a>
                </li>
                <li class="twitter">
                    <a href="#">
                        <%= image_tag("twitter-xs.png", :alt => "Twitter icon") %> @brownio_
                    </a>
                </li>
            </ul>
        </aside>
    </div>

     <div class="marta creator">
        <aside class="content">
           <h2>Marta Hollingsworth</h2>
            <p>UX/UI Designer, loves music, beer and sunsets</p>
            <ul class="social-links">
                <li class="instagram">
                    <a href="#">
                        <%= image_tag("instagram-xs.png", :alt => "Instagram icon") %> @mholl_
                    </a>
                </li>
                <li class="twitter">
                    <a href="#">
                        <%= image_tag("twitter-xs.png", :alt => "Twitter icon") %> @ealyn_
                    </a>
                </li>
            </ul>
        </aside>
             <div class="face">
            <%= image_tag("morta.png", :alt => "Marta's memoji") %>
        </div>

    </div>
</div>

<%= render 'common/footer', back_to: false, add_room: false %>