<header>
        <ul class="back-and-name">
            <li class="back">
                <% if request.env['PATH_INFO'] == rooms_path %>
                    <%= link_to root_path  do%>
                        <%= image_tag("back.png", :alt => "Back icon") %>
                    <% end %>
                <% else %>
                    <%= link_to rooms_path  do%>
                        <%= image_tag("back.png", :alt => "Back icon") %>
                    <% end %>
                <% end %>
            </li>
            <li class="username">
                <%= current_user.name %>
            </li>
        </ul>
    <div class="with-searchbox">
        <h2><%= header_title %></h2>
        <% if with_searchbar %>
            <input type="text" name="searchbox" placeholder="Search room here">
        <% end %>
        <% if with_max %>
            <p class="max-value"> Max. <%= @room.max_counter%> </p>
        <% end %>
    </div>
</header>
